@import url('../../../../styles.css');

.secc-info-magic {
    position: relative;
    width: 100%;
    background-color: var(--onHover-black-color);
    background-image: url('../../../../assets/landing/secction-info/bg-section-info.jpg');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 55, 55, 0.753);
}

.content-section {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding: 4% 3%;
    background-color: #202020a6;
    align-items: center;
}

.sec-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

.title {
    font-family: var(--letra-primaria);
    font-size: 3vw;
    color: var(--acid-green);
    text-shadow: var(--text-shadow-white);
}
.content-secc-info-magic {
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-text{

}


.text {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: var(--letra-secundaria);
    font-size: 1.2vw;
    text-align: center;
    color: white;
    line-height: 1.07;
    letter-spacing: 1px;
}

span {
    color: var(--acid-green);
}

.img-secc-info-magic {
    width: 50vw;
    background-position: center;
    background-size: cover;
    max-height: 400px;
    box-shadow: var(--box-shadow-white);
}