<section class="secc-info-magic">
    <div class="overlay"></div>
    <article class="content-section">
        
        
        
        <div class="sec-title">
            <h3 class="title">¿Qué es Magic: The Gathering?</h3>
        </div>
        
        <div class="content-secc-info-magic">
            <div class="sec-text">
                <p class="text"> <span class="outstanding">"Magic: The Gathering"</span>
                    es un juego de cartas coleccionables creado por Richard Garfield y publicado por Wizards of the
                    Coast en
                    1993. En Magic, los jugadores asumen el papel de poderosos hechiceros que se enfrentan en duelos
                    mágicos
                    utilizando cartas que representan criaturas, hechizos y artefactos mágicos. </p>
                <br>
                <p class="text">
                    Cada jugador construye su propio mazo personalizado antes del juego, eligiendo entre miles de cartas
                    únicas que ofrecen diferentes estrategias y estilos de juego.
                </p>
                <br>
                <p class="text">El objetivo es reducir los puntos de vida del oponente a cero mediante el despliegue de
                    criaturas, lanzamiento de hechizos y aprovechamiento de habilidades especiales. <span
                        class="outstanding">Magic</span> ha ganado una
                    enorme base de fans en todo el mundo y es ampliamente reconocido como uno de los juegos de cartas
                    más influyentes y exitosos de la historia.</p>
            </div>


            <img class="img-secc-info-magic" src="../../../../assets/about-magic/secction-info/img-article.jpg" alt="">


        </div>

    </article>
</section>