<section class="comments-section">

    <h2 class="title-section ">COMENTARIOS</h2>

    <div class="comments-container">
        @if (commentsLoaded?.length === 0) {
        <p class="no-comments">El usuario no tiene comentarios.</p>
        }
        @for (coment of commentsLoaded; track $index) {
        <div class="comment-card">
                <div class="comment-deck_id" (click)="goToDeck(coment)">
                    <span class="deck-id_label">Deck:</span>
                    <span class="deck-id_value">{{ coment.deckId }}</span>
                </div>
            <div class="comment-header_group">
                <div class="comment-author_date">
                    <span class="comment-author_text">{{ coment.userName }}</span>
                    <span class="comment-date_text">{{ coment.createdAt}}</span>
                </div>
            </div>

            <div class="comment-body_text">
                {{ coment.comment }}
            </div>

            <div class="delete-comment_group">
                <button class="delete-comment-button" (click)="deleteComment(coment)">
                    Eliminar Comentario
                </button>
            </div>
        </div>

        }
    </div>
</section>