.details__card-container {
  position: relative;
  background-image: url("public/main/bg-list-card.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.hover__bg {
  width: 100%;
  height: auto;
  padding: 3rem 0;
 
  background-color: rgba(112, 112, 112, 0.16);
  position: relative;
}

.details__card-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  gap: 1rem;
}

/* SET DETAILS STYLES */

.card__set-group {
  grid-column: span 2 / span 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: var(--bg-black-color);
  padding: 1rem;
}

.card__set-title {
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--text-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.781);
}

.details-set {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.item_details {
  font-size: 1.5rem;
  color: var(--text-color);
  list-style-type: none;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.781);
}

/* IMG CARD STYLES */

.card__img {
  grid-row-start: 1;
  grid-area: info;
  width: 200px;
  height: 280px;
  border-radius: 22px;
  box-shadow: 10px 10px 10px rgba(185, 185, 185, 0.24);
}

.img_card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;
}

/* INFO CARD STYLES */

.card_details-info {
  width: 650px;
  height: auto;
  max-height: 500px;
  display: grid;
  grid-template-areas:
    "title"
    "mana"
    "type"
    "text"
    "flavor";
  grid-template-rows: 60px 40px 60px auto auto;
  gap: 8px;
  border-radius: 20px;
  padding: 20px;
}

.card__info-title {
  grid-area: title;
}

.title-card {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--text-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.625);
}

.card_detail-mana {
  grid-area: mana;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-mana {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}

.card_detail-type {
  grid: type;
  grid-row-start: 3;
  display: flex;
  align-items: center;
}

.type_card {
  font-weight: 700;
}

.card_detail-text {
  grid: text;
  grid-row-start: 4;
}

.text_card,
.power_card,
.flavor_card,
.type_card {
  font-size: 1.5rem;
  color: var(--text-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.87);
}

.card_detail-flavor {
  grid: flavor;
  grid-row-start: 5;
}

.flavor_card {
  font-style: italic;
}

/* ACTION BUTTONS */

.action_buttons {
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.group_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.text_btn {
  font-size: 1.2rem;
  color: var(--text-color);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.btn__add {
  background-color: var(--text-color);
  color: black;
  height: 70px;
  width: 70px;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn__add:hover {
  box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.664);
  transform: scale(1.2);
}

.icons_btn {
  width: 30px;
  height: 30px;
}

/* LEGALITIES STYELS */

.card_legalities-group {
  margin-top: 70px;
  grid-column: span 2 / span 2;
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_legalities {

  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.781);
}

.items_legal-group{
  padding: 2rem 5rem 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, auto));
  column-gap: 2rem;
  row-gap: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.658);
}

.item__group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card_format{
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--bg-black-color);
}

.legal_status{
  width: 100px;
  font-size: 1rem;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}

.legal_ok{
  background-color: #2a9c47;
}


.legal_error{
  background-color: var(--color-error);
}

.legal_ok, .legal_error{
  color: var(--text-color);
}