<app-header></app-header>
<app-banner></app-banner>
<div class="container">

    <h2>¿Qué ofrece Magic DeckForge?</h2>
    <p>Magic DeckForge te permite:</p>
    <ul>
        <li>Explorar una amplia base de datos de cartas de Magic: The Gathering.</li>
        <li>Buscar cartas por nombre, tipo, color, y otros criterios.</li>
        <li>Crear y administrar tus propios mazos personalizados.</li>
        <li>Editar y actualizar tus mazos en cualquier momento.</li>
        <li>Guardar tus mazos favoritos y acceder a ellos desde cualquier dispositivo.</li>
    </ul>
    <h2>¿Cómo empezar?</h2>
    <p>Es fácil comenzar a usar Magic DeckForge:</p>
    <ol>
        <li>Regístrate para crear tu cuenta gratuita.</li>
        <li>Explora la base de datos de cartas o busca una carta específica.</li>
        <li>Crea tus propios mazos personalizados y comienza a jugar.</li>
    </ol>
    <p>¿Estás listo para sumergirte en el mundo de Magic: The Gathering con Magic DeckForge?</p>
    <a href="#" class="button">Crear cuenta</a>
</div>