<app-header></app-header>
<app-banner></app-banner>

<app-items></app-items>


<div class="container">
    <h2>¿Cómo empezar?</h2>
    <p>Es fácil comenzar a usar Magic DeckForge:</p>
    <ol>
        <li>Regístrate para crear tu cuenta gratuita.</li>
        <li>Explora la base de datos de cartas o busca una carta específica.</li>
        <li>Crea tus propios mazos personalizados y comienza a jugar.</li>
    </ol>
    <p>¿Estás listo para sumergirte en el mundo de Magic: The Gathering con Magic DeckForge?</p>
    <a href="#" class="button">Crear cuenta</a>
</div>