.content__main {
    background-color: var(--bg-green-color);
    padding: 2rem;
    padding-top: 7rem;
    padding-bottom: 1rem;
}

.content__main-header{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.filter__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.filter_title {
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.content__filter-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

app-search {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 700px;

}

.more__options-group {
    flex-shrink: 0;
    align-items: center;
    display: none;
}

.options__input{
    display: none;
}

.options__label {
    float: right;
    font-size: 30px;
    color: var(--text-color);
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    
}

.content__main-footer{
    padding: 1rem 0 2rem 0;
}

.content__more-options{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
   
}

@media (max-width: 768px) {

    .content__top {
        flex-direction: column;
        gap: 1rem;
    }

    .filter__group {
        display: flex;
        gap: 1.5rem;
    }

    .filter_title {
        font-size: 2rem;
        text-align: center;
    }

    .more__options-group {
      display: flex;
    }

    .content__main-footer{
        display: none;
    }

    .random__group{
        display: none;
    }
 

}