<app-header></app-header>




<div class="login-container">
    <div class="logo">
        <p>Imagen</p>
    </div>
    <form #regiterForm="ngForm" class="login-form" (ngSubmit)="checkIn()">

        <div class="form-group">
            <label for="name">Nombre</label>
            <input class="input-login-form" type="text" id="name" [(ngModel)]="userRegistrarion.name"  name="name" placeholder="example:  Juan" required>
        </div>

        <div class="form-group">
            <label for="lastname">Apellido</label>
            <input class="input-login-form" type="text" id="lastname" [(ngModel)]="userRegistrarion.lastName" name="lastname" placeholder="example: Genova" required>
        </div>

        <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input class="input-login-form" type="text" id="username" [(ngModel)]="userRegistrarion.userName" name="username" placeholder="example: domadordejaravivis" required>
        </div>

        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input class="input-login-form" type="email" id="email" [(ngModel)]="userRegistrarion.email" name="email" placeholder="example@magicweb.com" required>
        </div>

        <div class="form-group">
            <label for="confirm_email">Confirmar correo electrónico</label>
            <input class="input-login-form" type="confirm_email" id="confirm_email" name="confirm_email" placeholder="example@magicweb.com" required>
        </div>
        

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input class="input-login-form" type="password" id="password" [(ngModel)]="userRegistrarion.password" name="password" placeholder="*******" required>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirmar contraseña</label>
            <input class="input-login-form" type="confirm_password" id="confirm_password" name="confirm_password" placeholder="*******" required>
        </div>

        <div>
            <span>¿Tienes cuenta con nosotros?</span>
            <a id="login-link" (click)="goToLogin()">Ingresa</a>
        </div>

        <span id="text-entry-error" class="error-message"
        >
            Usuario o contraseña incorrectos
        </span>

        <button type="submit" class="button-register">Registrarse</button>
    </form>
</div>

<app-footer></app-footer>
