@import url('@assets/titles.css');
@import url('@assets/buttons.css');

.register {
    background-image: url('public/auth/bg-login.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center; 
}

.register__content{
    background-color: var(--bg-opacyti-color);
    width: 80%;
    min-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 6rem;
}

/*   - Estilo Header -    */

.register__content-header{
    color: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__img{
    width: 150px;
    margin: 0 auto;
}

.header__title{
    font-size: 3rem;
}

/*   - Estilo Formulario -    */
.register__content-form{
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.form__group{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 350px;
    gap:0.7rem;
}

.form__label{
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;  
}

.form__group-input{
    position: relative; 
}

.form__input{
    width: 100%; 
    background-color: var(--text-color); 
    border: 2px solid transparent;
    border-radius: 5px; 
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 45px 0 10px;
    transition: .3s ease all;
}

.form__input:focus{
    outline: none; 
    box-shadow: var(--box-shadow-light);
}


/*   - Estilo estados inputs -    */

.form__validate-status{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    font-size: 1rem;
    color: var(--color-error);
    transition: .3s ease all;
    opacity: 0;
}

.form__status-active{
    opacity: 1;
}

.form__error{
    margin-top: 5px;
    background-color: var(--bg-color-error);
    border: 1px solid var(--border-color-error);
    border-radius: 5px; 
}

.form__error-text{
    height: 2.5rem;
    padding: 0 45px 0 10px;
    line-height: 2.5rem;
    color: var(--color-error);
    font-size: 0.8rem;
    font-weight: 600;
}

.form__error-status{
    background-color: var(--bg-color-error);
    border: 2px solid var(--border-color-error);
    border-radius: 5px; 
    transition: .3s ease all;
}

/*   - Estilo Footer -    */

.register__content-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.redirection__text{
    color: var(--text-color);
}

.redirection__link-text{
    color: var(--text-color);
    text-align: center;
}

.redirection__link-text:hover{
    color: var(--bg-color-buttom-winter);
}

/*   - Estilo Boton -    */
.button-content{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__register{
    border-radius: 1.5rem;
    background-color: var(--bg-hover-green-two);
    color: var(--text-color);
    transition: scale 0.3s ease-in-out;
}

.btn__register:hover{
    scale: 0.97;
}

.btn__register:active{
    background-color: var(--bg-hover-green);
    color: var( --active-color);
}



@media (max-width: 768px){
    .register{
        width: 100%;
        height: auto;
    }

    .register__content{
        width: 100%;
        min-width: 0;
        display: block;
    }

    .register__content-form{
        padding: 2rem;
        grid-template-columns: 1fr;
    }


    .button-content{
        grid-column: span 1;
    }


}
