<div class="background-filter-container">
    <div class="filter-container">
        <span class="text-cheack">Color cartas</span>
        <label class="container-cheackbox">
            <input type="checkbox" class="ui-checkbox">
            <span class="text-cheack">White</span>
        </label>
        <label class="container-cheackbox">
            <input type="checkbox" class="ui-checkbox">
            <span class="text-cheack">Red</span>
        </label>
        <label class="container-cheackbox">
            <input type="checkbox" class="ui-checkbox">
            <span class="text-cheack">Black</span>
        </label>
        <label class="container-cheackbox">
            <input type="checkbox" class="ui-checkbox">
            <span class="text-cheack">Blue</span>
        </label>
        <label class="container-cheackbox">
            <input type="checkbox" class="ui-checkbox">
            <span class="text-cheack">Green</span>
        </label>
        <label class="container-cheackbox">
            <input type="checkbox" class="ui-checkbox">
            <span class="text-cheack">Colorless</span>
        </label>
    </div>
</div>