.input__group-filter {
    position: relative;
    width: 100%;
  }
  
  .input__filter {
    width: 100%;
    background-color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 2.5rem;
    height: 3rem; /* Mantengo la altura ajustada */
    font-size: 1rem;
    padding: 0 50px 0 20px; /* Ajusto el padding para dejar espacio para el icono */
    transition: all 0.3s ease;
    box-sizing: border-box;
    color: var(--input-text-color, #fff);
  }
  
  /* Enfoque en el campo de texto */
  .input__filter:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(100, 100, 255, 0.5);
    border-color: var(--focus-border-color, #5b74f7);
  }
  
  .icon__input {
    position: absolute;
    right: 0px; /* Alineo el icono a la derecha */
    top: 50%;
    transform: translateY(-50%); /* Alineo verticalmente el icono */
    font-size: 1.2rem; /* Aumento ligeramente el tamaño del icono */
    transition: all 0.3s ease;
    background-color: var(--text-color);
    border: 2px solid var(--border-color);
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Efecto hover en el icono */
  .icon__input:hover {
    color: var(--icon-hover-color, #fff);
    background-color: var(--bg-black-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .input__filter:hover {
    border-color: var(--hover-border-color, #4a5568);
  }
  