<app-header></app-header>
<div class="background-home">
    <div class="gral-conteiner-items">
        <app-filter (sendFiltersColors)="sendsColorSelection($event)"
        (sendFiltersTypes)="sendsTypeSelection($event)"
        (sendFiltersCmc)="sendsCmcSelection($event)"></app-filter>
    </div>
    
    <div class="gral-conteiner-items">
        <app-list-cards [filterCardsValue]="selectCardsFilterColor"
        [filterCardsTypeValue]="selectCardsFilterType"
        [filterCardsCmcValue]="selectCardsFilterCmc"></app-list-cards>
    </div>
</div>
<app-footer></app-footer>