@import url('@assets/buttons.css');



.content__list-cards {
  position: relative;
  background-image: url('public/main/bg-list-card.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.hover__bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 7rem;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.16);
  position: relative;
  overflow-y: auto;
}

.content__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 5rem;
  column-gap: 2rem;
  min-width: auto;
  max-width: max-content;
  height: auto;
}

.content__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 16px;
  background-color: var(--bg-green-color);
  color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: var(--box-shadow-little);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
  background-color: var(--bg-hover-green-two);
  transform: translateY(-2px);
}

.scroll-to-top:focus {
  outline: none;
}

#icon__up {
  font-size: 1.5rem;
}

.navegation__content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 2rem 5rem;
}

.prev{
  grid-column-start: 1;
  display: flex;
justify-content: start;
}

.next{
  grid-column-start: 2;
  display: flex;
  justify-content: end;
}

.btn-pag_group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
}


.icon-pagination{
  width: 25px;
  height: 25px;
}

.hidden-btn{
  display: none;
}

.non-hidden-btn{
  display: flex;
}






@media (min-width: 768px) {
  .content__list {
    grid-template-rows: repeat(1, 1fr);
  }
}
