.content__list-cards {
    position: relative;
    background-image: url('public/main/bg-list-card.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.hover__bg {
    padding: 3rem 7rem;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: auto;
}

.content__list {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    width: 100%;
    height: 100%;
}
