<section class="content__list-cards">
  <div class="hover__bg">

    @if(listCards.length === 0){
    <mat-spinner></mat-spinner>
    }@else {
    <div class="content__list">
      @for (data of listCards; track $index){
      <app-card [dataCard]="data" (cardClicked)="handleCardId($event)" />
      }
    </div>


    @if(isVisible){
    <button class="scroll-to-top" (click)="scrollToTop()">
      <fa-icon id="icon__up" [icon]="icon"></fa-icon>
    </button>
    }

    <div class="navegation__content">

      <button class="btn-pag_group style_tree_btn" (click)="prevPage()" [class.hidden-btn]="hiddenBtnPrev">
        <img class="icon-pagination" src="icons/pag/prev.png" alt="icon-pagination">
        ANTERIOR
      </button>

      <button class="btn-pag_group style_tree_btn" (click)="nextPage()" [class.hidden-btn]="hiddenBtnNext">
        SIGUIENTE
        <img class="icon-pagination" src="icons/pag/next.png" alt="icon-pagination">
      </button>
    </div>
    }
  </div>
  
</section>