<section class="content__list-cards">
    <div class="hover__bg">
      
      <div class="content__list">
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
        <app-card [dataCard]="dataCard" />
      </div>

    </div>
  </section>