<app-header></app-header>
<div class="container">

    <div class="items-container">


        <img class="img-error-card" src="assets/card-door-to-nothingness.jpg" alt="card-door-to-nothingness">
        <div class="text-page-container">

            <h1 class="tittle">ERROR 404</h1>
            <h2 class="sub-tittle">Oops! Page Not Found</h2>
            <p class="lorem-page">Aparentemente la pagina que solicitaste activo la carta " Door of Nothingness"</p>
            <p class="lorem-page">!Vuelve al inicion para evitar que absorva todas tus cartas¡</p>
        </div>
    </div>

</div>
<app-footer></app-footer>
