<app-header></app-header>
<div class="card">
    <div class="card-background">
        <div class="card-background-conteiner">
            <div class="tittle-card">
                <div class="conteiner-tittle-card">
                    <h4 class="tittle-top">Call to user </h4>
                    <img class="land-icon" src="assets/land-white.png" alt="land">
                </div>
            </div>
            <div class="conteiner-img-card">
                <img class="img-card" src="assets/card-img.png" alt="imgen-inicio">
            </div>
            <div class="subtittle-card">
                <div class="conteiner-tittle-card">
                    <h4 class="tittle-top">Enchantment -- Aura </h4>
                </div>
            </div>
            <div class="container-description-card">
                <div class="description-card">
                    <form #loginForm="ngForm" class="login-form"(ngSubmit)="loginUser()">
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input class="input-login-form" type="email" id="email" name="email"
                                [(ngModel)]="userLogin.email" placeholder="example@magicweb.com" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input class="input-login-form" type="password" id="password" name="password"
                            [(ngModel)]="userLogin.password" placeholder="*******" required>
                        </div>
                        <div>
                            <span>¿No te has registrado aun?</span>
                            <a id="register-link" (click)="goToRegister()"> Registrarse</a>
                        </div>
                        <span class="error-register" *ngIf="loginOk; else templateElse"></span>
                        <ng-template #templateElse>
                        <span id="text-entry-error" class="error-message">
                            *Usuario o contraseña incorrectos*
                        </span>
                        </ng-template>

                        <button type="submit" class="button-login">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>