/* Importa los estilos generales */
@import "src/styles.css";

.logo{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  display: block;
}

/* Estilos específicos para el formulario */
.login-container {
  height: 600px;
  width: 450px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
}

.login-form {
  max-width: 100%;
  margin-top: 100px; 
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label{
  font-weight: bold;
  font-size: 16px;  
  margin-bottom: 5px;
}

.input-login-form{
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}


::placeholder{
  color: #adabab;
}

.button-login{
  width: 100%;
  height: 50px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#text-entry-error{
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
/* Resto de estilos específicos para tu formulario */
