<section class="login__group">
    <article class="login__group-content">
      <header class="login__content-header">
        <img class="login__header-img" src="favicon.ico" alt="Logo" />
        <h1 class="title_login titles_styles-1 ">DeckForge</h1>
      </header>

      <form
        class="login__form"
        [formGroup]="formUser"
        (ngSubmit)="loginUser()"
      >
        <!-- Grupo usuario -->
        <div class="form__group">
          <label for="nick" class="form__label subtitles_styles-1">Usuario</label>
          <div class="form__group-input">
            <input
              class="form__input"
              name="nick"
              type="text"
              id="nick"
              placeholder="Ingrese su usuario..."
              autocomplete="off"
              formControlName="nick"
            />
            
            <fa-icon
              class="form__validate-status"
              [icon]="icons"
            ></fa-icon>
            
            
          </div>

        </div>

        <!-- Grupo Password -->
        <div class="form__group">
          <label for="password" class="form__label subtitles_styles-1">Contraseña</label>
          <div class="form__group-input">
            <input
              class="form__input"
              name="password"
              type="password"
              id="password"
              placeholder="*******"
              autocomplete="off"
              formControlName="password"
            />
            
            <fa-icon
              class="form__validate-status"
              [icon]="icons"
            ></fa-icon>
            
          </div>
          
        </div>

        <div class="btn__login-group">
          <button type="submit" class="style_four_btn btn__login">
            INICIAR SESION
          </button>
        </div>
      </form>

      <footer class="login__content-footer">
        <p class="redirection__text">¿No tienes cuenta todavía en DeckForge?</p>
        <a class="login" href="register">Registrarse</a>
      </footer>
    </article>
  </section>