<div>

    <h1>INICIO SESION</h1>
    <form (ngSubmit)="inicioSesion()">
        
        <span>Email</span>
        
        <input type="text" name="email" [(ngModel)]="usuarioInicio.email" placeholder="Usuario" required>
        
        <span>Contraseña</span>
        
        <input type="password" name="password" [(ngModel)]="usuarioInicio.password" placeholder="Contraseña" required>
        
        
        
        <button type="submit">Iniciar Sesion</button>
        <div class ="respuestaEstadoCorrecto" *ngIf="estado; else respuestaEstadoIncorrecto"> 
            Inicio de Sesion Correcto
        </div>
        <ng-template #respuestaEstadoIncorrecto>
            Usuario o Contraseña Incorrectos
        </ng-template>
        
    </form>
</div>

