.container {
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%; /* Center the container horizontally */
    top: 50%; /* Center the container vertically */
    transform: translateX(35%);
    padding: 20px;
    border-radius: 10px;
    background-color: #373737;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 60%;
   
    bottom: 10px;

    

 
}

.tittle-info-show{
  font-size: 7em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(17, 17, 17, 0.788);
  text-align: center;

  width: 100%;
  margin-top: 150px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.background-container{
    background-image: url('src/assets/background-home-page-1.jpg');
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.profilecard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.profilecardbody {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 5px;
 
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  border-radius: 10px, 10px, 0px, 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 10px;
}
.navbar ul li {
  padding: 10px;
  margin: 10px;
  position: static;
  list-style: none;
}
.navbar ul li a {
  color: #864f4f;
  text-decoration: none;
  /* width: fit-content; */
  padding: 5px;
}
.navbar ul li a:hover {
  background-color: #864f4f;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-in-out;
  padding: 5px;
}

.logo img {
  max-height: 100%;
  border-radius: 10px;
}

.sidebar {
  left: 0;
  margin-top:5%;
  align-items: left;
  max-height: 100%;
  background-color: #ffffff;
  max-width: 100%;
  min-width: 30%;
 

}

.sidebar img{
   
    max-width: 243px;
    max-height: 202px;
    border-radius: 10px;
    
}





.textbox {
  
  background-color: rgb(227, 237, 238);
  padding: 30px;
  font-family: nunito-regular;
  font-size: 20px;
  height: 50%;
  border-radius: 10px;
  margin:5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-evenly;
}


.namedecor {
    margin-top: 0%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: large;

    margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin-left: 22%;
  align-self: flex-start;
}
 .emailbox{
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
     background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

 }
 .emailbox p{margin: 5px;
    padding: 5px;
   
 }
 .Nickbox { 
    margin:10px;
    padding: 5px;
 
    display: flex;
    flex-direction: row;
    
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

 }

 .Nickbox p{margin: 5px;
    padding: 5px;
  
 }

 
 .Passbox { 
  margin:10px;
  padding: 5px;

  display: flex;
  flex-direction: row;
  
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

}

.Passbox p{margin: 5px;
  padding: 5px;


}
.hidden{
  -webkit-text-security: disc;
}

.verbutton{

  padding: 10px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 0 #888; /* Top shadow */
  background-color: #3498db;
  color: #ffffff;
  transition: background-color 0.3s, box-shadow 0.3s;
  
}

.varbutton:hover{
  background-color: #297fb8;
  box-shadow: 0 2px 0 #555; /* Top shadow on hover */
}
.verbutton:active {
  box-shadow: 0 1px 0 #555; /* Top shadow on click */
  transform: translateY(1px); /* Simulate pressing effect */
}
 .buttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
 }


  




img{
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.container-decks{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: inline-flex, flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.container-tittle-deck-show{
  width: 30%;
  margin-top: 10px;
  background-color: rgb(46, 46, 46);
  box-shadow: rgb(201, 201, 201) 0px 0px 10px;
  border-radius: 15px;
  display: inline-flex;
}

.tittle-deck-show{
  font-size: 8em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(17, 17, 17, 0.788);
  text-align: center;

  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}


.add-deck-button{
  margin-top: 40px;
  margin-left: 500px;
  margin-right: auto;
  font-size: 2em;
  padding: 10px 20px;
  background-color: rgb(218, 218, 218);
  color: black;
  border: 4px solid rgb(46, 46, 46);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.add-deck-button:hover {
  background-color: rgb(245, 238, 238);
}