<app-header></app-header>

  <div class="container">
    <div class="profilecard">

      <div class="profilecardbody">
        <div class="sidebar">
          <img src="{{user?.imagUser}}" alt="hyunjinnie">

        </div>





        <div class="dataBox">
          <div class="namedecor">
            <p id="name">{{user?.nickName}}</p>
          </div>
          <div class="textbox">
            <p>{{user?.description}}</p>
            <div class="emailbox">
              <p>EMAIL</p>
              <p id="email">{{user?.email}} </p>
            </div>
            <div class="Nickbox">
              <p>NICK</p>
              <p id="nick">{{user?.nickName}}</p>
            </div>
            <div class="Passbox">
              <p>Password</p>
              <p id="pass" class="password" [ngClass]="{ 'hidden': isPasswordHidden }">
                {{ isPasswordHidden ? hidePasswordText(user?.password!) : user?.password }}
            
              </p>
            </div>

          </div>
          <div class="buttoncontainer">
            <button class="verbutton">Editar</button>
            <button class="verbutton">Eliminar</button>
            <button class="verbutton" (click)="togglePassword()">Mostrar</button>
            

          </div>

        </div>
      </div>


    </div>

  </div>


  <div class="container">
    <p class="nameDeck">Mis Mazos</p>
  </div>



  <div class="deckContainer" *ngFor="let item of user?.decks"> 
    <!-- LLAMNAR AL COMPONENTE Y A TRAVEZ DE UN INPUT ENVIAR LA DATA DE LA CARTA -->
    <p class="nameDeck">{{item.nameDeck}}</p>
    <div class="decks" >
      <div class="CardContainer"*ngFor="let carta of item.cards">
      <p class="nameCard">{{carta.nameCard}}</p>
      <img  [src]="" alt="hyunjinnie">
      </div>
     
   </div>
      
  </div>








<app-footer></app-footer>