<app-header></app-header>
<div class="backgound-container">

  <div class="container">
    <div class="profilecard">

      <div class="profilecardbody">
        <div class="sidebar">
          <img src="{{user?.imagUser}}" alt="hyunjinnie">

        </div>





        <div class="dataBox">
          <div class="namedecor">
            <p id="name">{{user?.nickName}}</p>
          </div>
          <div class="textbox">
            <p>{{user?.description}}</p>
            <div class="emailbox">
              <p>EMAIL</p>
              <p id="email">{{user?.email}} </p>
            </div>
            <div class="Nickbox">
              <p>NICK</p>
              <p id="nick">{{user?.nickName}}</p>
            </div>

          </div>
          <div class="buttoncontainer">
            <button class="button">Editar</button>
            <button class="button">Eliminar</button>

          </div>

        </div>
      </div>





    </div>





  </div>

  <div *ngFor="let item of user?.decks"> 
    <!-- LLAMNAR AL COMPONENTE Y A TRAVEZ DE UN INPUT ENVIAR LA DATA DE LA CARTA -->
  </div>






</div>

<app-footer></app-footer>