.container {
    margin-top: 10%;
    margin-bottom: 20px;
    left: 50%; /* Center the container horizontally */
    top: 50%; /* Center the container vertically */
    transform: translateX(35%);
    padding: 20px;
    border-radius: 10px;
    background-color: #373737;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 60%;
   
    bottom: 10px;

    

 
}

.background-container{
    background-image: url('/assets/background-home-page-2.jpg');
    background-size: cover;
    position: relative;
   
}

.profilecard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.profilecardbody {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 5px;
 
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  border-radius: 10px, 10px, 0px, 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 10px;
}
.navbar ul li {
  padding: 10px;
  margin: 10px;
  position: static;
  list-style: none;
}
.navbar ul li a {
  color: #864f4f;
  text-decoration: none;
  /* width: fit-content; */
  padding: 5px;
}
.navbar ul li a:hover {
  background-color: #864f4f;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-in-out;
  padding: 5px;
}

.logo img {
  max-height: 100%;
  border-radius: 10px;
}

.sidebar {
  left: 0;
  margin-top:5%;
  align-items: left;
  max-height: 100%;
  background-color: #ffffff;
  max-width: 100%;
  min-width: 30%;
 

}

.sidebar img{
   
    max-width: 243px;
    max-height: 202px;
    border-radius: 10px;
    
}





.textbox {
  
  background-color: rgb(227, 237, 238);
  padding: 30px;
  font-family: nunito-regular;
  font-size: 20px;
  height: 50%;
  border-radius: 10px;
  margin:5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-evenly;
}


.namedecor {
    margin-top: 0%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: large;

    margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin-left: 22%;
  align-self: flex-start;
}
 .emailbox{
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
     background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

 }
 .emailbox p{margin: 5px;
    padding: 5px;
   
 }
 .Nickbox { 
    margin:10px;
    padding: 5px;
 
    display: flex;
    flex-direction: row;
    
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

 }

 .Nickbox p{margin: 5px;
    padding: 5px;
  
 }

 
 .Passbox { 
  margin:10px;
  padding: 5px;

  display: flex;
  flex-direction: row;
  
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

}

.Passbox p{margin: 5px;
  padding: 5px;


}
.hidden{
  -webkit-text-security: disc;
}

.verbutton{

  padding: 10px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 0 #888; /* Top shadow */
  background-color: #3498db;
  color: #ffffff;
  transition: background-color 0.3s, box-shadow 0.3s;
  
}

verbutton:hover{
  background-color: #297fb8;
  box-shadow: 0 2px 0 #555; /* Top shadow on hover */
}
.verbutton:active {
  box-shadow: 0 1px 0 #555; /* Top shadow on click */
  transform: translateY(1px); /* Simulate pressing effect */
}
 .buttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
 }


  .deckContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 20px;
  left: 50%; /* Center the container horizontally */
  top: 50%; /* Center the container vertically */
  transform: translateX(35%);
  padding: 20px;
  border-radius: 10px;
  background-color: #373737;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  width: 60%;
  bottom: 10px;


 }


 .decks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 90%;
  height: 100%;
  max-width: 100%;
  margin: 5px;
  padding: 5px;
  text-overflow: ellipsis;
  transition: 0.2s ease-in-out;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 0 #888; /* Top shadow */
  color: #000000;
  transition: background-color 0.3s, box-shadow 0.3s;
  overflow-x: scroll;
 } 


img{
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

 .CardContainer{
  display: flex;
  padding:5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}
.decks::-webkit-scrollbar{
  width: 6px;
}
.decks::-webkit-scrollbar-thumb{
  background-color: #a0a0a0;
  border-radius: 4px;
}
.decks::-webkit-scrollbar-track{
  background-color: #f0f0f0;

}

.nameCard{
  margin-top: 0%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: auto;

  align-self: center;
  font-size: small;

}
.nameDeck{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
 margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: auto;
  top: 10px;


} 
.nameDeck{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  padding: 10px;
  text-align: center;
  width: auto;
  top: 10px;


} 

.allmazosContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 20px;
  left: 50%; /* Center the container horizontally */
  top: 50%; /* Center the container vertically */
  transform: translateX(35%);
  padding: 20px;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  width: 60%;
  bottom: 10px;
}