<div class="section-item">
    <div class="overlay"></div>
    <div class="content">
        <div class="top-sec">
            <h2 class="title-i">¿Qué ofrecemos?</h2>
        </div>
        <div class="sub-t-top">
            <h3 class="sub-t-i">Magic DeckForge te permite:</h3>
        </div>
        <div class="items-content">

            <div class="item">
                <div class="img-content">
                    <img class="img-item" src="assets/landing/items/icons-items/map-solid.svg" alt="">
                </div>
                <div>
                    <h4 class="t-item">Exploracion</h4>
                    <p class="descp">
                        Explorar una amplia base de datos de cartas de Magic: The Gathering.
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="img-content">
                    <img class="img-item" src="assets/landing/items/icons-items/magnifying-glass-solid.svg"
                        alt="">
                </div>
                <div>
                    <h4 class="t-item">Busqueda</h4>
                    <p class="descp">
                        Buscar cartas por nombre, tipo, color, y otros criterios.
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="img-content">
                    <img class="img-item" src="assets/landing/items/icons-items/libro.png" alt="">
                </div>
                <div>
                    <h4 class="t-item">Gestion</h4>
                    <p class="descp">
                        Crear y administrar tus propios mazos personalizados.
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="img-content">
                    <img class="img-item" src="assets/landing/items/icons-items/editar.png" alt="">
                </div>
                <div>
                    <h4 class="t-item">Edicion</h4>
                    <p class="descp">
                        Editar tus mazos y cartas personalizadas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
        
        
    -->