*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: #1a1a1a;
  min-height: 200vh;
}

header{
  position:fixed;
  top:0%;
  left:0%;
  width: 100;
  display: flex;
  justify-content:space-between;
  align-items: center;
  transition:  0.6s;
  padding: 40px, 100px;
  z-index:100000 ;
}

header .sticky{
  padding:5px 100px;
  background-color: #1a1a1a;
  color: #8bc400;

}
header .sticky ul li a {
  color: azure;
}

header .logo{
  position: relative;
  color: #8bc400;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
    transition: 0.6s;
    text-transform: uppercase;
    letter-spacing: 3px;

}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  position: relative;
  list-style: none;

}
header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
