<header>
    <nav>
      <img routerLink="/landing" src="header/logo.webp" alt="" />
      <input type="checkbox" id="check" />
      <label for="check">
        <fa-icon [icon]="icons[3]"></fa-icon>
      </label>

      <ul>
        @if(statusLogin){
          @if(getRoleAdmin()){
            <li>
                <a href="management" class="link"
                  ><fa-icon class="icon-transform" [icon]="icons[5]"></fa-icon> Usuarios</a
                >
            </li>
          }
            <li>
                <a href="main" class="link"
                  ><fa-icon class="icon-transform" [icon]="icons[6]"></fa-icon> Buscador</a
                >
            </li>
            <li>
                <a [routerLink]="['/',userLogged?.id,'decks']"  class="link"
                  ><fa-icon class="icon-transform" [icon]="icons[4]"></fa-icon> Mis Mazos</a
                >
            </li>
            <li>
                <a href="community" class="link"
                  ><fa-icon class="icon-transform" [icon]="icons[5]"></fa-icon> Comunidad</a
                >
            </li>
        <li>
          <a [routerLink]="['/',userLogged?.id]" class="link"
            ><fa-icon class="icon-transform" [icon]="icons[1]"></fa-icon> {{userLogged?.nick}}</a
          >
        </li>
        <li>
            <button class="logout-btn" (click)="logout()">
                <fa-icon [icon]="icons[2]"></fa-icon>
            </button>
        </li>
        }@else {
            <li>
                <a href="login" class="login"
                  > Ingresar</a
                >
            </li>
        }
      </ul>
    </nav>
  </header>