.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-search-bar{
    width: 600px;
    border: #1b1b1b 3px solid;
    padding: 10px 15px;
    border-radius: 30px / 70px;
    box-shadow: rgb(24, 23, 23) 0px 0px 10px;
}

.button-search{
    position: absolute;
    left: 74%;
    
    cursor: pointer;
    transition: .9s ease;
    
    color: black;
    border: #1b1b1b 3px solid;
    padding: 10px 15px;
    border-radius: 30px / 70px;
    box-shadow: rgb(24, 23, 23) 0px 0px 10px;
}

.button-search:hover{
    transform: scale(1.1);
    background-color: wheat;
}