<article class="filter-deck_container">
    <nav class="filter-option_group">

      <form [formGroup]="formColor" class="form-color_group">
      
      <div class="option_group">
        <label for="mana" class="label-mana">MANA PROMEDIO</label>
        
        <select name="mana" id="mana" class="select-opt_filter" formControlName="mana">
         
          <option value="all">Seleccione un mana</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">Manádicto</option>
        </select>
      </div>

      <div class="option_group ">
        
          <div class="color-opt_group" id="white-select" (click)="toggleCheckboxColor('white')" >
            <input type="checkbox" name="color" id="white" value="white" class="input-opt_color" formControlName="white">
            <div class="color-select_group">
              <img class="img-color_icon" src="icons/cards_icons/W.svg" alt="color-color_icon" />
              <label for="color-select" class="label-color">
                BLANCO
              </label>
            </div>
          </div>

          <div class="color-opt_group"  id="blue-select" (click)="toggleCheckboxColor('blue')">
            <input type="checkbox" name="color" id="blue" value="blue" class="input-opt_color" formControlName="blue">

            <div class="color-select_group"  id="blue-select" >
              <img class="img-color_icon" src="icons/cards_icons/U.svg" alt="color-color_icon"  />
              <label for="color-select" class="label-color">
                AZUL
              </label>
            </div>

          </div>

          <div class="color-opt_group"  id="black-select" (click)="toggleCheckboxColor('black')">
            <input type="checkbox" name="color" id="black" value="black" 
            class="input-opt_color" formControlName="black">
            <div class="color-select_group">
              <img class="img-color_icon" src="icons/cards_icons/B.svg" alt="color-color_icon"  />
              <label for="color-select" class="label-color">
                NEGRO
              </label>
            </div>
          </div>

          <div class="color-opt_group"  id="red-select" (click)="toggleCheckboxColor('red')">
            <input type="checkbox" name="color" id="red" value="red" class="input-opt_color" formControlName="red">
            <div class="color-select_group">
              <img class="img-color_icon" src="icons/cards_icons/R.svg" alt="color-color_icon" />
              <label for="color-select" class="label-color">
                ROJO
              </label>
            </div>
          </div>

          <div class="color-opt_group"  id="green-select" (click)="toggleCheckboxColor('green')">
            <input type="checkbox" name="color" id="green" value="green" class="input-opt_color" formControlName="green">
            <div class="color-select_group">
              <img class="img-color_icon" src="icons/cards_icons/G.svg" alt="color-color_icon" />
              <label for="color-select" class="label-color">
                VERDE
              </label>
            </div>
          </div>

          <div class="color-opt_group"  id="all-select" (click)="toggleCheckboxColor('all')">
            <input type="checkbox" name="color" id="all" value="all" class="input-opt_color" formControlName="all">
            <div class="color-select_group">
              <img class="img-color_icon" src="icons/cards_icons/MANA.svg" alt="color-color_icon" (click)="toggleCheckboxColor('all')" />
              <label for="color-select" class="label-color">
                TODOS
              </label>
            </div>
          </div>
          
          
        </div>
      </form>

    </nav>


</article>
