.card__group{
    width: 380px;
    height: 537px;
    border-radius: 18px;
    box-shadow: var(--box-shadow-light);
    transition: transform 0.4s ease-in-out;
}

.card__img{
    margin: 0;
    cursor: pointer;
}

