<article class="card__group">
    <div class="card__img">

    </div>
    <div class="card__info-group">
        <header class="info__top-group">
            <h2 class="info__title">{{ dataCard.name }}</h2>
            <p class="info__subtitle">{{ dataCard.type}} -- {{dataCard.sub_type}}</p>
        </header>
        <div class="info__description">
            <p>{{ dataCard.description }}</p>
        </div>
        <footer class="info__botton-group">
            
        </footer>
    </div>
</article>