.card__group {
  position: relative;
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  perspective: 1000px;
  transition: transform 0.3s ease;
}

.card_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: var(--box-shadow-light);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  cursor: pointer;
}

.card__group:hover .card_content {
  transform: rotateX(-10deg) rotateY(-10deg);
}


.add_card {
  position: relative;
  left: 220px;
  top: -367px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #000000;
  box-shadow: var(--box-shadow-light);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out;
}

.icon_add{
  position: absolute;
}

.add_card:hover {
  box-shadow: var(--box-shadow-light);
  transform: scale(1.3);
}
