<div class="background-popup-container">

    <div class="popup-container">

        <div mat-dialog-content class="custom-popup-content">

            <img class="img-card-popUp" [src]="dataComponent.imageUrl" alt="imagen.card">
            <mat-accordion class="info-card-container">

                    <h2>{{dataComponent.name}}</h2> 

                    <mat-expansion-panel hideToggle class="expansion-panel">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Mana:
                            </mat-panel-title>
                            <mat-panel-description>
                                {{dataComponent.manaCost}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>El mana el es principal recurso del juego, es producido por las tirras y lo usas para invocar.</p>
                    </mat-expansion-panel>

                <mat-expansion-panel hideToggle class="expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Tipo:
                        </mat-panel-title>
                        <mat-panel-description>
                            {{dataComponent.type}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Sub tipo : {{dataComponent.subtypes}}</p>
                    <p>Indica el tipo de carta y si pertenece a mas de un tipo.</p>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle class="expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Texto:
                        </mat-panel-title>
                        <mat-panel-description>
                            Habilidad
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{dataComponent.text}}</p>
                </mat-expansion-panel>

                
                <!--

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>
                            <mat-panel-description>
                                Currently I am {{panelOpenState ? 'open' : 'closed'}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                -->


            </mat-accordion>

        </div>

        <div mat-dialog-actions class="popup-container-buttons">
            <button (click)="closepopup()" mat-raised-button class="button-popup">Cerrar</button>
            <button mat-raised-button [mat-dialog-close]="closemessage" class="button-popup"  (click)="sendToDeckUser()">Agregar a Mazo </button>
        </div>

    </div>
</div>