<div class="background-popup-container">

    <div class="popup-container">

        <div mat-dialog-content class="custom-popup-content">

            <img class="img-card-popUp" [src]="dataCard.imageUrl" alt="imagen.card">
            
            <mat-accordion class="info-card-container">

                    <h2>{{dataCard.name}}</h2> 

                    <mat-expansion-panel hideToggle class="expansion-panel">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Mana:
                            </mat-panel-title>
                            <mat-panel-description>
                                {{dataCard.manaCost}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>El mana el es principal recurso del juego, es producido por las tirras y lo usas para invocar.</p>
                    </mat-expansion-panel>

                <mat-expansion-panel hideToggle class="expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Tipo:
                        </mat-panel-title>
                        <mat-panel-description>
                            {{dataCard.type}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Sub tipo : {{dataCard.subtypes}}</p>
                    <p>Indica el tipo de carta y si pertenece a mas de un tipo.</p>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle class="expansion-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Texto:
                        </mat-panel-title>
                        <mat-panel-description>
                            Habilidad
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{dataCard.text}}</p>
                </mat-expansion-panel>


            </mat-accordion>

        </div>

        <div mat-dialog-actions class="popup-container-buttons">
            <select name="deck-user-select" id="deck-user-select" [(ngModel)]="deckSelected">
                <option class="item-select" *ngFor="let deck of user?.decks" value="{{deck.nameDeck}}">{{deck.nameDeck}}</option>
            </select>
            <button mat-raised-button [mat-dialog-close]="closemessage" class="button-popup"  (click)="sendToDeckUser()">Agregar a Mazo </button>
            <button (click)="closepopup()" mat-raised-button class="button-popup">Cerrar</button>
        </div>

    </div>
</div>