<div class="img-container">
    <div class="items">
        <img src="assets/iconUsers/jhonny-user.jpg" alt="jhonny-user"
            (click)="imgSelectForUser('assets/iconUsers/jhonny-user.jpg')">
        <img src="assets/iconUsers/spyke-user.jpg" alt="spyke-user"
            (click)="imgSelectForUser('assets/iconUsers/spyke-user.jpg')">
        <img src="assets/iconUsers/tommy-user.jpg" alt="tommy-use"
            (click)="imgSelectForUser('assets/iconUsers/tommy-user.jpg')">
        <img src="assets/iconUsers/vorthos-user.jpg" alt="vorthos-user"
            (click)="imgSelectForUser('assets/iconUsers/vorthos-user.jpg')">
    </div>
    <button (click)="closepopup()">Cancelar</button>
</div>