.container-modes {
  position: relative;
  background-image: url('../../../../assets/landing/modes/old-tree.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 16, 16, 0.856);
}

.secc-info-mode {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-m {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: var(--acid-green);
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
}

.title-modes {
  margin: 0;
  font-family: var(--letra-primaria);
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
}

.sub-t-m {
  margin: 0;
  padding-bottom: 2%;
  font-family: var(--letra-secundaria);
  font-size: 2rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);

}

.cards-list {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}



.title-m {
  margin: 0;
  font-family: var(--letra-primaria);
  font-size: 1.5vh;
  font-weight: 700;
  color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  text-align: center;
}
