<section>
    <fieldset>
        <legend>Cargar Nueva Tarea</legend>
        <form id="formulario" #fromCargaTarea="ngForm">

                <label for="titulo">Titulo:</label>
                <input type="text" name="titulo" [(ngModel)]="titulo"  placeholder="Ingrese un titulo" name="titulo"  required>

                <br>

                <label for="descripcion">Descripcion:</label>
                <input type="text" name="descripcion"  [(ngModel)]="descripcion" placeholder="Ingrese alguna descripcion" name="descripcion"  required>

                <br>

            <button type="submit" class="botonAgregar" (click)="cargarTarea()" [disabled]="fromCargaTarea.invalid">Cargar</button>
        </form>
        <div class ="campos" *ngIf="camposCompletos; else campoIncompleto"> 
            <span>    
                Carga Lograda con Exito
            </span>
        </div>
        <ng-template #campoIncompleto>
            <span>    
                Campos Incompletos
            </span>

        </ng-template>
    </fieldset>
</section>