<section class="banner__content">
    <div class="banner__group">

            <div class="title__banner-group">
                <h1 class="title_banner">¡Magic DesckForge!</h1>
            </div>
            <div class="sub-title_banner-group">
                <h2 class="sub-title_banner">Tu herramienta definitiva para explorar Magic: The Gathering.</h2>
            </div>
                
            <div class="btn-group">
                <button class="btn_banner">empieza hoy</button>
            </div>
        </div>

    <video class="banner_video" muted autoplay loop>
        <source src="/video.mp4" type="video/mp4">
        Tu navegador no soporta el video.
    </video>

    <div class="capa">

    </div>

</section>