.container-modes{
    position: relative;
    background-image: url('../../../../assets/landing/modes/old-tree.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 37, 37, 0.871);
}

.banner-m{
    position: absolute;
    background-color: var(--acid-green);
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
}

.title-modes{
    font-family: 'beleren-small-caps';
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
}

.sub-t-m{
    font-family: 'jace-beleren-bold';
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);

}




.content-info-mode {
    position: absolute;
    max-width: 24rem;
    background-color: #fff;
    border-width: 1px;
    border-color: #e2e8f0;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  }
  
  .img-m {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .info-m {
    padding: 1.25rem;
  }
  
  .title-m {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #4a5568;
  }
  
  .content-m-d .m-d {
    margin-bottom: 0.75rem;
    font-weight: 400;
    color: #4a5568;
  }
  
  .m-l {
    margin-left: 0.5rem;
  }
  
  .m-link {
    display: inline-flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #4299e1;
    border-radius: 0.375rem;
  }
  
  .m-link:hover {
    background-color: #2b6cb0;
  }
  
  .m-link:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
  
  .m-t-link {
    display: inline-block;
  }
  

  
