<section class="container-modes">
    <div class="overlay"></div>
    <div class="banner-m">
        <h2 class="title-modes">Modos de juego</h2>
        <h4 class="sub-t-m">Conoce las diferentes formas en las que puedes jugarlo</h4>
    </div>
<!--
        <article class="content-info-mode"  *ngFor="let mode of modes">
        <img class="img-m" src="{{mode.image}}" alt="">
        <div class="info-m">
            <h3 class="title-m">{{mode.title}}</h3>
            <div class="content-m-d">
                <span class="m-d" >{{mode.description}}</span>
            </div>
            <div class="m-l">
                <a class="m-link" href="{{mode.link}}">
                    <span class="m-t-link" >{{mode.titleLink}}</span>
                </a>
            </div>
        </div>
    </article>
-->

</section>