<section class="container-modes">
    <div class="overlay"></div>

    <article class="secc-info-mode">
        <div class="banner-m">
            <h2 class="title-modes">Modos de juego</h2>
            <h4 class="sub-t-m">Conoce las diferentes formas en las que puedes jugarlo</h4>
        </div>

        <div class="cards-list" >

            <div class="cards-i-mode" *ngFor="let mode of modes">
                <div class="img-m-cover" [style.backgroundImage]="'url(' + mode.image + ')'"></div>
                <div class="info-m">
                    <h3 class="title-m">MTG Arena</h3>

                    
                    <div class="content-m-d">
                        <span class="m-d">{{mode.description}}</span>
                    </div>
                    <div class="m-l">
                        <a class="m-link" href={{mode.link}}>
                            <span class="m-t-link" >{{mode.titleLink}}</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        
        <!--


        -->



    </article>

</section>