.container-modes {
  position: relative;
  background-image: url('../../../../assets/landing/modes/old-tree.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 37, 37, 0.871);
}

.secc-info-mode {
  position: absolute;
  width: 100%;
  height: min-content;
}

.banner-m {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: var(--acid-green);
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
}

.title-modes {
  margin: 0;
  font-family: 'beleren-small-caps';
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);
}

.sub-t-m {
  margin: 0;
  padding-bottom: 2%;
  font-family: "Gotham Narrow", Arial, serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);

}

.cards-list {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  height: min-content;
  border: 1px solid #e2e8f0;
}

.cards-i-mode {
  max-width: 24rem;
  border-width: 1px;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1), 0 0.5rem 1rem rgba(247, 250, 247, 0.3);
}

.img-m-cover {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.img-m {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
}


.info-m {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--background-color);
  padding: 0.5rem;
}

.title-m {
  margin: 0;
  font-family: 'beleren-small-caps';
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  text-align: center;
}

.content-m-d {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.m-d {
  font-size: 1.2rem;
  color: white;
  font-family: "Gotham Narrow", Arial, serif;
  font-weight: 400;
  line-height: 1;
}



.m-l {
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
}

.m-link {
  font-family: 'beleren-small-caps';
  display: inline-flex;
  align-items: center;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: var(--acid-green);
  text-decoration: none;
}

.m-link:hover {
  color: var(--acid-green-hover);
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1), 0 0.5rem 1rem rgba(76, 175, 80, 0.3);
}

.m-link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.m-t-link {
  display: inline-block;
}