.notification_container{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--text-color);
    border-left: 10px solid #28a745; 
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.icon_noti-group{
    padding: 0.5rem 1rem;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.icon_noti{
    width: 35px;
    height: 35px;
}

.context_noti-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.title_context{
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--fondo);
}

.text_context{
    font-size: 1rem;
    font-weight: 400;
    color: var(--fondo);
}

.success{
    border-left: 10px solid #28a745; 
}

.error{
    border-left: 10px solid #dc3545; 
}

.warning{
    border-left: 10px solid #ffc107; 
}

.info{
    border-left: 10px solid #17a2b8; 
}