.service_content{
    padding: 5rem 2rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-green-color);
}
.title_service-group{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_service{
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.subtitle_service{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.service__item-group {
    margin-top: 3rem ;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);   
    grid-row-gap: 5rem;
    grid-column-gap: 3rem;                          
    height: 100%;                        
}

