<section class="decks-list-community_content">
    <div class="hover-background">
        <div class="title-community_group">
            <h2 class="title-community">Mazos de la Comunidad</h2>
        </div>

        <div class="list-content_group">
        @if(decks.length === 0){
            <app-empty [title]="'¡No se encontraron Mazos!'" [message]="message" [habilited]="false"></app-empty>
        }@else{
          @for (deck of decks; track $index) {
              <app-deck-card [deckUser]="deck" [publicActive]="getIsPublic()"></app-deck-card>
            }
        }
        </div>
    </div>
</section>