.decks-list-community_content{
    position: relative;
    width: auto;
    height: 100vh;
    background-image: url('public/main/bg-list-card.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: scroll;
}

.hover-background{
    padding-top: 7rem;
    padding-bottom: 5rem;
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.475);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.title-community_group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-community{
    font-size: 4rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
}

/* --------- LIST DECKS ----------*/

.list-content_group{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 3rem;
}

@media (max-width: 1440px) {
    .list-content_group {
      grid-template-columns: auto;
    }
  }