<div class="flip-card" [class.flipped]="isFlipped">


        <div class="flip-card-inner">
            <div class="flip-card-front" (click)="toggleFlip()">
                <img class="img-card" src="reverso-magic.png" alt="">
            </div>
            
            <div class="flip-card-back" (click)="showMessage()">
                @if(infoCards.image_uris?.normal){
                    <img class="img-card" [src]="infoCards.image_uris?.normal" alt="">
                }
                @else {
                    <img class="img-card" src="reverso-magic.png" alt="">
                }
            </div>
        </div>



</div>
