<app-header />
<section class="content__not-found">

    <div class="not-found__container">
        <h2 class="title_not-found">404</h2>
        <h2 class="subtitle_not-found">Ooops! Pagina no encontrada.</h2>
        <p class="msg_not-found" >Lo sentimos, pero la página a la que intentas ingresar no existe. Parece que te topaste con un vórtice del que pocas almas regresan...</p>
        <a class="redirect_home style_tree_btn" href="/landing"  >Volver a una zona segura</a>
        
    </div>

</section>
