<article class="edit-deck_container">
    <div class="edit-deck-title_group">
        <h2 class="edit-title_top">
            Edita tu mazo ✏️
        </h2>
        <p class="subtitle-new-deck">La imagen de tu mazo la puedes seleccionar del conjuntos de cartas que tengas agregadas. </p>
    </div>
    <form class="edit-deck-form_content" (submit)="editDeck($event)" [formGroup]="formDeck"> 
        <!--  INPUT NAME  -->
          <div class="input-edit_group">
            <label for="name" class="label-edit_form">Nombre</label>
            <input type="text" class="input-edit_form" name="name" id="name" formControlName="name">
            @if(hasExistsError('name','nameExists')) {
                <small id="error-nick" class="form__error-text" role="alert">* El nombre ya está en uso. *</small>
            }@else if(hasExistsError('name','nameExists')) {
                <small id="error-nick" class="form__error-text" role="alert">* El nombre ya está en uso. *</small>
            }@else if (hasExistsError('name','minlength')) {
                <small id="error-nick" class="form__error-text" role="alert">* El nombre debe tener al menos 3 caracteres. *</small>
            }@else if (hasExistsError('name','maxlength')) {
                <small id="error-nick" class="form__error-text" role="alert">* El nombre debe tener menos de 20 caracteres. *</small>
            }
          </div>

        <!--  INPUT DESCRIPTION  -->
            <div class="input-edit_group">
                <label for="description" class="label-edit_form">Descripcion</label>
                <textarea class="textarea-edit_form" name="description" id="description" formControlName="description" (input)="countWordsDescription()"></textarea>
                <div class="count-words_group">
                    @if(hasExistsError('description','minlength')) {
                        <small id="error-nick" class="form__error-text" role="alert">* Debe tener al menos 5 caracteres.
                            *</small>
                    }@else if (hasExistsError('description','pattern')) {
                        <small id="error-nick" class="form__error-text" role="alert">* No se permiten caracteres especiales. *</small>
                    }
                    <div class="count-text">
                        <span class="count-words"> {{countWords }} / {{limitWords}} </span>
                    </div>
                </div>
            </div>

        <!--  INPUT TAGS  -->
        <div class="inputs-deck_group">
            <label for="tags" class="lable_form">Etiquetas</label>
            <div class="tag-select_group">
                @for (item of tagsDecks; track $index) {
                    <div class="tag-selected" [id]="$index">
                        <input type="checkbox" name="tag" [id]="item" [value]="item" class="input-opt_tag"
                        [checked]="checkTagDeck(item, $index)"
                        (change)="addTag($event, item)" (click)="chageStyleTag($index)"
                        >
                        <label [for]="item" class="label-tag" >{{ item }}</label>
                    </div>
                }
            </div>      
        </div>

        <div class="edit-deck-btn_group">
            <button class="edit-deck-btn" [disabled]="formDeck.invalid" type="submit">Editar</button>
        </div>

    </form>

</article>