.container__galley{
  position: relative;
  background-image: url('public/main/bg-list-card.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.hover__bg {
  padding: 3rem 7rem;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.753);
  position: relative;
  overflow-y: auto;
}

.gallery__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

.header_title {
  color:var(--text-color);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.gallery__footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

.footer_sub-title {
  color:var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}




/* Estilos de las cartas */
.gallery__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
  position: relative;
  gap: 2rem; /* Espacio entre las cartas */
}

/* Estilos generales de la carta */
.card {
  position: relative;
  width: 672px;
  height: 936px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Efecto al hacer hover */
.card:hover {
  transform: scale(1.05);
}

/* Imagen de la carta */
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contenedor del título */
.card__title-container {
  position: absolute;
  bottom: -35px; /* Empuja el título fuera de la carta */
  left: 0;
  width: 100%;
  text-align: center;
  transition: bottom 0.3s ease-in-out; /* Efecto de deslizamiento */
}

/* Título de la carta */
.card__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

/* Aparece el nombre de la carta solo cuando el hover está activo */
.card:hover .card__title-container {
  bottom: 10px; /* El título se desliza hacia arriba */
}

/* Estilos de los botones de navegación */
.gallery__nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
  gap: 1rem; /* Espacio entre los botones */
}

.gallery__button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.gallery__button:hover {
  background-color: #0056b3;
}

.gallery__button:focus {
  outline: none;
}
