.container__galley{
  position: relative;
  background-image: url('public/main/bg-list-card.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  
}

.hover__bg {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.16);
  position: relative;
  padding-bottom: 2rem;
}

.gallery__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.header_title {
  color:var(--text-color);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.625);
}

.gallery__footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

.footer_sub-title {
  color:var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}


.gallery__cards {
  background-color: rgba(136, 136, 136, 0.171);
  padding: 3rem 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;  
  height: fit-content;   /* La altura se ajusta al contenido */
}

.content__loading{
  width: 380px;
  height: 537px;
  background-color: rgba(0, 0, 0, 0.72);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}