
<section class="container__galley">
  <div class="hover__bg" >

    <div>
      <div class="gallery__header">
        <h1 class="header_title">Explora las cartas del día</h1>
      </div>
    </div>
     
    
  <swiper-container init="false">
    @for (card of cards; track $index ) {
      <swiper-slide>
        @if(loaded){
          <app-flip-card [infoCards]="card" [flip]="flip"></app-flip-card>
        }
        @else {
          <div class="content__loading">
            <p>CARGANDO DATAA</p>
          </div>
        }
      </swiper-slide>
    }
  </swiper-container>

  <button (click)="sendFlag()" > HOLAAA </button>
</div>



</section>


