
<section class="container__galley">
  <div class="hover__bg" >

    <div>
      <div class="gallery__header">
        <h1 class="header_title">Explora las cartas del día</h1>
      </div>
    </div>
     
    
  <swiper-container class="container" init="false">
      <swiper-slide>
        @if(loaded){
          <app-flip-card [infoCards]="cards[0]" [flip]="flip"></app-flip-card>
        }@else {
          <div class="content__loading">
            <mat-spinner></mat-spinner>
          </div>
        }
      </swiper-slide>
      <swiper-slide>
        @if(loaded){
          <app-flip-card [infoCards]="cards[1]" [flip]="flip"></app-flip-card>
        }@else {
          <div class="content__loading">
            <mat-spinner></mat-spinner>
          </div>
        }
      </swiper-slide>
      <swiper-slide>
        @if(loaded){
          <app-flip-card [infoCards]="cards[2]" [flip]="flip"></app-flip-card>
        }@else {
          <div class="content__loading">
            <mat-spinner></mat-spinner>
          </div>
        }
      </swiper-slide>
      <swiper-slide>
        @if(loaded){
          <app-flip-card [infoCards]="cards[3]" [flip]="flip"></app-flip-card>
        }@else {
          <div class="content__loading">
            <mat-spinner></mat-spinner>
          </div>
        }
      </swiper-slide>
      <swiper-slide>
        @if(loaded){
          <app-flip-card [infoCards]="cards[4]" [flip]="flip"></app-flip-card>
        }@else {
          <div class="content__loading">
            <mat-spinner></mat-spinner>
          </div>
        }
      </swiper-slide>
  </swiper-container>

  <button (click)="sendFlag()" > HOLAAA </button>
</div>



</section>


