<section class="about__content">
    <div class="about-magic_group">
        <div class="header_about-group">
            <h2 class="title_about">¿Que es Magic: The Gathering?</h2>
        </div>
        <div class="context_about-group">
            <p class="text_about">
                Magic: The Gathering es un juego de cartas coleccionables que combina estrategia, creatividad y narrativa. Desde su lanzamiento en 1993, ha sido un referente en el mundo de los juegos de mesa y cartas, permitiendo a los jugadores construir mazos personalizados y enfrentarse en partidas donde cada decisión cuenta. Con miles de cartas disponibles, cada una con habilidades y diseños únicos.<br>
                <br>
                No es solo un juego, es un reto constante. Su profundidad estratégica y la posibilidad de construir tus propios mazos hacen que ninguna partida sea igual a otra. Ya sea que prefieras jugar partidas rápidas o competir en escenarios más serios, Magic se adapta a diferentes estilos de juego. Además, su rica narrativa, plasmada en cada carta, transporta a los jugadores a un universo fantástico lleno de historias, criaturas y mundos por explorar. <br>
                <br>
                Uno de los aspectos más destacados de Magic es su comunidad. Desde pequeñas reuniones en tiendas locales para compartir con amigos hasta torneos internacionales, conecta a millones de jugadores en todo el mundo.

            </p>
        </div>
    </div>
    
    <swiper-container 
    style="--swiper-navigation-color: #fff;"
    navigation="true" 
    pagination="true"
    pagination-typ="progressbar"
    loop="true"
    thumbs-swiper=".swiper__view"
    class="swiper__group"
    >
        <swiper-slide>
            <img src="landing/carrusel/magic3.jpg" alt="magic-the-gatering-1">
        </swiper-slide>
        <swiper-slide>
            <img src="landing/carrusel/magic2.jpg" alt="magic-the-gatering-2">
        </swiper-slide>
        <swiper-slide>
            <img src="landing/carrusel/magic1.jpg" alt="magic-the-gatering-3">
        </swiper-slide>    
        <swiper-slide>
            <img src="landing/carrusel/how-play.webp" alt="magic-the-gatering-4">
        </swiper-slide>  

      </swiper-container>

      <swiper-container 
      class="swiper__view"
      space-between="10"
      slides-per-view="4"
      free-mode="true"
      >
          <swiper-slide>
              <img src="landing/carrusel/magic3.jpg" alt="magic-the-gatering-1">
          </swiper-slide>
          <swiper-slide>
              <img src="landing/carrusel/magic2.jpg" alt="magic-the-gatering-2">
          </swiper-slide>
          <swiper-slide>
              <img src="landing/carrusel/magic1.jpg" alt="magic-the-gatering-3">
          </swiper-slide>    
          <swiper-slide>
              <img src="landing/carrusel/how-play.webp" alt="magic-the-gatering-4">
          </swiper-slide>  
  
        </swiper-container>
        
        <div class="footer_about-group">
            <a href="#" class="link_about">Learn More</a>
        </div>
</section>