
<div class="grid-container-cards">
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    
    
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>
    <app-card class="card-conteiner-info" [carta]="carta"></app-card>

</div>
