<section class="content_profile">
   

    <!-- PRIMER GRID QUE ACOMODA LA IMAGEN Y LA INFO-->
    <div class="profile_group">

        <div class="user-profile"> 
            <div class="img_group">
                <img class="img_profile" [src]="user?.imgUri" [alt]="user?.nick" />
            </div>

            <div class="action_profile-group">
                <div class="action_link-group" (click)="goToDecks()">
                    <div class="content_icon content_normal">
                        <img class="icon_link " src="favicon.ico" alt="deck">
                    </div>
                    <span class="action_link">Mazos</span>
                </div>
                <div class="action_link-group" (click)="goToFavorites()">
                    <div class="content_icon content_fav">
                        <img class="icon_link" src="icons/edit/favorito.png" alt="favorito">
                    </div>
                    <span class="action_link">Favoritos</span>
                </div>
                <div class="action_link-group" (click)="editProfile()">
                    <div class="content_icon content_edit">
                        <img class="icon_link change_png" src="icons/edit/people.png" alt="editar">
                    </div>
                    <span class="action_link">Editar</span>
                </div>
                <div class="action_link-group" (click)="deleteProfile()">
                    <div class="content_icon content_delete">
                        <img class="icon_link change_png" src="icons/edit/delete.png" alt="baja">
                    </div>
                    <span class="action_link">Baja</span>
                </div>
            </div>
        </div>

        <!-- SEGUNDO GRID QUE ACOMODA LA INFO-->
        <div class="info_profile">

            <div class="nick_group">
                <p class="nick_profile">{{user?.nick}}</p>
            </div>

            <div class="country_group">
                <div class="country_info-group">
                    <img [src]="getFlagImage(user?.country || '')" [alt]="user?.country" class="country_img-profile">
                    <h3 class="country_profile data_user-style">{{getCountrie(user?.country || '')}}</h3>
                </div>
            </div>
            
            <div class="name_group">
                <h6 class="title_info-group">Nombre:</h6>
                <h2 class="name_profile data_user-style">{{user?.name}}</h2>
            </div>

            <div class="email_group">
                <h6 class="title_info-group">Email:</h6>
                <p class="email_profile data_user-style">{{user?.email}}</p>
            </div>

            <div class="description_group">
                <h6 class="title_info-group">Descripcion:</h6>
                <p class="descp_profile data_user-style">{{user?.description}}</p>
            </div>

        </div>


    </div>

    
</section>
