@import url('../../../../styles.css');

.banner {
    position: relative;
    background-image: url('../../../../assets/landing/banner/banner.png');
    background-position: center;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 57, 57, 0.473); 
}

.content-b{
    position: absolute;
    display:inline-flex;
    flex-direction: column;
}

.title-b{
    margin-top: 2%;
    margin-bottom: 4%;
    font-family: var(--letra-primaria);
    font-size: 6vw;
    color: white;
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1), 0 0.5rem 1rem rgba(76, 175, 80, 0.3);
}
.sub-title-cont-b{
    display: flex;
    justify-content: end;

}
.sub-t-b{
    margin: 0;
    font-family: var(--letra-primaria);
    font-size: 3vw;
    color: white;
    align-items: end;

}

.cont-a-b{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.link {
    font-family: var(--letra-segundaria);
    display: inline-block;
    border-radius: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.25rem;
    color: #fff;
    background-color: var(--acid-green); /* Color de fondo para el estado normal */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Sombra para el estado normal */
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out; /* Transición para el cambio de color y sombra */
    text-decoration: none; /* Eliminar subrayado del enlace */
  }

  .link:hover,
.link:focus {
    background-color: var(--acid-green-hover); /* Color de fondo para el estado hover/focus */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1), 0 0.5rem 1rem rgba(76, 175, 80, 0.3); /* Sombra para el estado hover/focus */
}

.link:focus {
    outline: 0; /* Eliminar el borde de enfoque */
    ring: 0; /* Eliminar el anillo de enfoque */
}

.link:active {
    background-color: #388E3C; /* Color de fondo para el estado active/clic */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Sombra para el estado active/clic */
}
  