<!-- <div class="flexcontainer"> 
<div class="container"><h1>Magic the gathering... A game for manly man </h1>
    <button (click)="irAlLogin()">Iniciar Sesion</button></div>
   <div class="textbox"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur vitae excepturi placeat, modi sunt cum vero? Deserunt, alias eius, incidunt rerum libero cumque quod beatae, illum facilis voluptatibus ipsam! </p></div>

   <button class="button">Lorem </button>    <button class="button">Ipsum  </button>


</div> -->


    <div>
    <app-header></app-header>
    <section class = "banner"> </section>
</div>
