/* Estilo para el encabezado */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el botón "Iniciar Sesión" */
button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Cambiar el estilo del botón al pasar el ratón por encima */
button:hover {
    background-color: #0056b3;
}
