
<!-- <app-header></app-header> -->

<section class="banner">

  <div class="titlebox">
      <p class="title">MagicApp</p>
    
      <p class="sub-title">A magic the gathering app</p>
    </div>

  <div class="button-container">
    <div class="button" (click)="scrollToSection('reglas')">Reglas</div>
      <div class="button" (click)="irAlLogin">Iniciar Sesion</div>
      <div class="button">Registrarse</div>
      <div class="button" (click)="scrollToSection('about')">Sobre Magic</div>
  </div>
</section>


<div class="container" id="about" class ="hidden-section">
<div class="card" >
    <div class="card-header">
       Magic: The Gathering, que es?
    </div>
    <div class="card-content">
      <p>  In Magic: The Gathering, players take on the role of powerful wizards known as "Planeswalkers" and engage in magical duels with decks of customized cards. Each player starts with 20 life points and uses a deck of cards containing various spells, creatures, artifacts, and lands. The primary objective is to reduce the opponent's life total to zero, either by casting spells, summoning creatures, or using various card interactions.
      </p>
            
    </div>
</div>
<div class="card"id="reglas" class="hidden-section" >
    <div class="card-header">

        Rules of Magic: The Gathering
    </div>
    <div class="card-content">
        <ul>
            <li>Each player starts with 20 life.</li>
            <li>Players take turns, starting with the first player.</li>
            <li>Players draw one card at the beginning of their turn.</li>
            <li>Players can play lands and cast spells during their turn.</li>
            <li>Spells require mana to cast, which comes from lands.</li>
            <li>Each player can attack with creatures to reduce the opponent's life.</li>
            <li>The game is won by reducing the opponent's life to 0.</li>
            <li>There are many more rules and card interactions to explore!</li>
        </ul>
    </div>
</div>
</div>





<div class="container">
    </div>
   

            
<app-footer></app-footer>
