@font-face{
    font-family: 'nunito-regular';
    src: url('./assets/fonts/Nunito-Regular.ttf');
}
@font-face{
    font-family: 'nunito-bold';
    src: url('./assets/fonts/Nunito-Bold.ttf');
}
@font-face{
    font-family: UbuntuMono-regular;
    src:url("./assets/fonts/UbuntuMono-Regular.ttf");
}