@font-face {
    font-family: beleren-bold;
    src: url(./fonts/Beleren-Bold.ttf);
}


@font-face {
    font-family: beleren-small-caps;
    src: url(./fonts/Beleren-Small-Caps.ttf);
}


@font-face {
    font-family: beleren-bold;
    src: url(./fonts/Beleren-Bold.ttf);
}

@font-face {
    font-family: jace-beleren-bold;
    src: url(./fonts/JaceBeleren-Bold.ttf);
}

@font-face {
    font-family: plantin-bold;
    src: url(./fonts/MPlantin-Bold.ttf);
}

@font-face {
    font-family: plantin-italic;
    src: url(./fonts/MPlantin-Italic.ttf);
}

@font-face {
    font-family: plantin-roman;
    src: url(./fonts/MPlantin.ttf);
}