<div class="section-how-sgup">
    <div class="overlay"></div>
    <div class="content">
        <div class="top-sec">
            <h2 class="title-i">¿Qué ofrecemos?</h2>
        </div>

        <div class="content-info">
            <img class="img-sect" src="/assets/landing/how-singup/img-section.jpg" alt="section-how-sing-up">
            <!--
        -->
            <div class="info">
                <h2 class="title-info">¿Cómo empezar?</h2>
                <p class="descrip">Es fácil comenzar a usar Magic DeckForge:</p>
                <ol class="descrip">
                    <li class="descrip">Regístrate para crear tu cuenta gratuita.</li>
                    <li class="descrip">Explora la base de datos de cartas o busca una carta específica.</li>
                    <li class="descrip">Crea tus propios mazos personalizados y comienza a jugar.</li>
                </ol>
                <p class="descrip">¿Estás listo para sumergirte en el mundo de Magic: The Gathering con Magic DeckForge?
                </p>
            </div>
        </div>
        <a href="#" class="button">Crear cuenta</a>
    </div>
</div>