@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.main-info_container{
    height: min-content;
    margin: auto 4rem;
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.family-font_text{
    font-family: 'Open Sans', sans-serif;
}
.title-top_group{
    grid-column: span 2 / span 2;
}
.title_top{
    font-weight: 700;
    margin: 0;
}

/*  STYLES INFO USER  */

.info-user_group{
    grid-row-start: 2;
    width: 100%;
    height: min-content;    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.data-user_content{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: end;

    
}
.data-user_group{
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.lable_form {
    font-size: 1rem;
    font-weight: bold;
}

.data-user-show_text{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
}

.input_form {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
}

.select_form{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
}

.data-user-desc_group{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pass-user_group{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.textarea_desc{
    width: 100%;
    height: 200px;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
    resize: none;
}

.input-edit_form {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.select-edit_form{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/*  STYLES BTNS  */
.btn-profile_group{
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

/*  ERRORES STYLES  */

.form__error-status{
    padding-right: 1rem;
    background-color: var(--bg-color-error);
    border: 2px solid var(--border-color-error);
  }
  
  .form__error-text{
    padding-right: 1rem;
    color: var(--color-error);
    font-size: 0.8rem;
    font-weight: 400;
  }

  .img-pass_icon{
    width: auto;
    height: 40px;
    cursor: pointer;
  }
  .pass_icon{
    width: 100%;
    height: 100%;
  }