<app-header></app-header>
<main class="main-info_container">
    <div class="title-top_group">
        <h2 class="title_top family-font_text">INFORMACION DEL USUARIO</h2>
    </div>
    @if(user){
        <form class="info-user_group" [formGroup]="formInfo">

          <div class="data-user_group">
            <label for="status" class="lable_form family-font_text">ESTADO USUARIO:</label>
            @if(edit){
              <select id="status" class="select-edit_form" formControlName="status">
                  <option disabled selected >Estado del Usuario</option>
                  <option [value]="user.status">✅ Activo</option>
                  <option [value]="!user.status">🚫 Baja</option>
              </select>
            }@else {
              <label class="data-user-show_text">{{getUserStatus()}}</label>
            }
          </div>

          <div class="data-user_group">
            <label for="role" class="lable_form family-font_text">TIPO DE USUARIO:</label>
            @if(edit){
                <select id="role_user" class="select-edit_form" formControlName="role">
                  <option disabled selected >Rol del Usuario</option>
                @for (item of getRoles() ; track $index) {
                  <option [value]="item" >{{ item }}</option>
                  }
                </select>
            }@else {
                <label class="data-user-show_text">{{getUserRoleUpper()}}</label>
            }
          </div>
   
          <div class="data-user_content">
            <div class="data-user_group">
              <label for="nick" class="lable_form family-font_text">USUARIO:</label>
              <input type="text" id="nick" class="input_form family-font_text" placeholder="{{user.nick}}" formControlName="nick">
            </div>
            @if(elementTouched('nick')) {
              @if(hasExistsError('nick','nickExists')) {
                <small id="error-nick" class="form__error-text" role="alert">* El nick ya está en uso. *</small>
              }@else if (hasExistsError('nick','pattern')) {
                <small id="error-nick" class="form__error-text" role="alert">* El nick debe tener al menos 4 caracteres. *</small>
              }
            }
          </div>
          
          <div class="data-user_content">
            <div class="data-user_group">
                <label for="name" class="lable_form family-font_text">NOMBRE:</label>
                <input type="text" id="name" class="input_form family-font_text" placeholder="{{user.name}}" formControlName="name">
            </div>
            @if(elementTouched('name')) {
              @if(hasExistsError('name','pattern')) {
                <small id="error-nick" class="form__error-text" role="alert">* El nombre debe tener al menos 2 caracteres. *</small>
              }
            }
          </div>

          <div class="data-user_content">
            <div class="data-user_group">
              <label for="email" class="lable_form family-font_text">EMAIL:</label>
              <input type="text" id="email" class="input_form family-font_text" placeholder="{{user.email}}" formControlName="email">
            </div>
            @if(elementTouched('email')) {
              @if(hasExistsError('email','emailExists')) {
                <small id="error-nick" class="form__error-text" role="alert">* El email ya está en uso. *</small>
                }@else if (hasExistsError('email','email')) {
                <small id="error-nick" class="form__error-text" role="alert">* El email no es valido. *</small>
                }
            }
          </div>

              <div class="data-user_group">
                <label for="country" class="lable_form family-font_text">PAIS:</label>
                @if(edit){
                  <select id="country" class="select-edit_form" formControlName="country">
                    <option disabled selected >Pais del Usuario</option>
                  @for (item of countries ; track $index) {
                    <option [value]="item.code" >{{ item.name }}</option>
                    }
                  </select>
              }@else {
                  <label class="data-user-show_text">{{user.country}}</label>
              }
              </div>

            <div class="data-user_group">
                <label for="password" class="lable_form family-font_text">CONTRASEÑA:</label>
                <div class="pass-user_group">
                  <input type="password" id="password" class="input_form family-font_text" value="{{user.password}}" formControlName="password">
                  <div class="img-pass_icon" (click)="changeVisibility()">
                      <img class="pass_icon" [src]="setImgVisibility(visibility)" alt="visible">
                  </div>
                </div>
            </div>

            <div class="data-user_content">

              <div class="data-user-desc_group">
                  <label for="description" class="lable_form family-font_text">DESCRIPCION:</label>
                  <textarea class="textarea_desc family-font_text" id="description" formControlName="description" (input)="countWordsDescription()"  placeholder="Escribe algo sobre ti">{{user.description}}</textarea>
              </div>
              @if(edit){
                <div class="count-words_group">
                  @if(hasExistsError('description','minlength')) {
                    <small id="error-nick" class="form__error-text" role="alert">* Debe tener al menos 100 caracteres.
                      *</small>
                    }
                    <div class="count-text">
                      <span class="count-words"> {{countWords}} / {{limitWords}} </span>
                    </div>
                  </div> 
                }
            </div>


            
            <div class="btn-profile_group">
                @if(!edit){
                    <button (click)="editUser()">Editar</button>
                }@else{
                    <button (click)="saveEditUser()">Guardar</button>
                }
            </div>
        </form>

        
    }
</main>
<app-footer></app-footer>