@import url('./assets/fonts.css');

html{

    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

:root {
    --background-color:#1a1a1a;
    --onHover-black-color : #2b2b2b;
    --accent-lilac-hover: #A580CA;
    --dark-purple: #120239;
    --acid-green: #56B47C;
    --acid-green-hover: #8bc400;
    --acid-green-shadow: rgb(116, 146, 39);
    --accent-green : #8bc400;
}

.outstanding{
    font-size: larger;
    font-weight: bold;
}
