.container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  }
  
  .slide img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  }
  
  .slide.active {
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button:nth-child(1) {
    left: 0;
  }
  
  button:nth-child(2) {
    right: 0;
  }
  