:root {
    /* small wiew*/
    --card-width: 245px;
    --card-height: 342px;

    /* big view */
    --card-width-big: 380px;
    --card-height-big: 537px;

    --fondo:#0c0f11;
    --bg-green-color: #456c35;
    --bg-black-color: #2b2b2b;
    --bg-color-error: #fad8d4;
    --bg-black-color-hover: #1f1f1f;
    --bg-color-buttom-winter: #2897dc;
    --bg-color-buttom-dark-red: #bf0c0c;
    --bg-color-buttom-emeralt: #459c5b;
    
    --text-color: #eee;
    --color-ok: #1ed12d;
    --color-error: #d14b41;

    --border-green-color: #31583a;
    --border-winter-color: #278bc9;
    --border-color:#d0d0d0;
    --border-color-hover: #545454;
    --border-color-error: #e08d8a;
    

    --bg-hover-green: #459c5b;
    --bg-hover-green-two: #4f9941;
    --bg-opacyti-color : #2b2b2bd5;


    --box-shadow-light : 3px 0px 30px  rgba(94, 92, 92, 0.692);
    --box-shadow-dark : 3px 0px 30px  rgba(184, 184, 184, 0.692);
    --box-shadow-little : 0 4px 8px rgba(0, 0, 0, 0.2);


    --green-decoration: rgb(86, 180, 124);
    --shadow-color: rgba(0, 0, 0, 0.349);


    --text-shadow: 6px 4px 6px;

    


    --accent-lilac-hover: #A580CA;
    --dark-purple: #120239;
    --acid-green: #4CAF50;
    --acid-green-hover: #66BB6A;
    --acid-green-shadow: rgb(116, 146, 39);
    --accent-green : #8bc400;
    --bg-overlay-img: rgba(40, 37, 37, 0.871);
    --text-shadow-white: 0 0.125rem 0.25rem rgba(255, 251, 251, 0.1), 0 0.5rem 1rem rgba(255, 255, 255, 0.37);
    --text-shadow-black: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.888), 0 0.5rem 1rem rgba(255, 255, 255, 0.3);

}
