<section class="deck-list-content_group">
  <div class="hover-background">

    <div class="top-list_group">

      <div class="title-list_group">
        <h2 class="title-list">Mis Mazos</h2>
      </div>

      <div class="create-deck_group">
        <button class="create-deck_button btn_apply" (click)="createNewDeck()">
          <span>+ Nuevo Mazo</span>
        </button>
      </div>

    </div>

    <div class="list-content_group">
      @if(decks.length === 0){
        <app-empty [title]="'¡No se encontraron Mazos!'" [message]="message" [habilited]="false"></app-empty>
      }@else {
        @for (deck of decks; track $index) {
          <app-deck-card [deckUser]="deck" ></app-deck-card>
        }
      }
    </div>

  </div>
</section>
