@import url('@assets/buttons.css');

.container__decks-group{
    width: 1000px;
    background-color: #0c0f11c7;
    border-radius: 10px;
    padding: 2rem 4rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title_decks{
    margin: 0;
    font-weight: 700;
    letter-spacing: 2px;
}

.action__new-deck{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.5rem;
    background-color: var(--bg-hover-green);
    color: var(--text-color);
}

.action__new-deck:hover{
    background-color: var(--bg-hover-green-two);
    color: var(--text-color);
}

.action__new-deck:active{
    color: var(--active-color);
}

.btn_add-icon-deck{
    width: 25px;
    height: 25px;
    filter: invert(1);
}
