<section class="container">
    <article class="info-conteiner">
        <div class="info-item">

            <h3>Magic: The Gathering, que es?</h3>
            <p>"Magic: The Gathering" es un juego de cartas coleccionables y estrategia creado por Richard Garfield y
                lanzado por Wizards of the Coast en 1993. En este juego, los jugadores asumen el papel de poderosos
                magos
                llamados "Planeswalkers" que se enfrentan en duelos mágicos. Cada jugador construye su propio mazo de
                cartas, que incluye hechizos, criaturas, artefactos y tierras, con el objetivo de derrotar al oponente.

                El juego se desarrolla en un multiverso de fantasía donde los jugadores utilizan maná (energía mágica)
                generada por tierras para lanzar hechizos y convocar criaturas para atacar al oponente. Los jugadores
                comienzan con 20 puntos de vida y ganan al reducir los puntos de vida del oponente a cero.

                Lo que hace que "Magic" sea único es la diversidad y complejidad de sus cartas. Hay miles de cartas
                diferentes, cada una con habilidades y reglas específicas, lo que permite una amplia variedad de
                estrategias
                y tácticas. Los jugadores pueden personalizar sus mazos para adaptarse a su estilo de juego y participar
                en
                torneos competitivos o partidas casuales.

                "Magic: The Gathering" ha mantenido su popularidad a lo largo de los años y ha desarrollado una
                comunidad
                global de jugadores. El juego ha inspirado expansiones, adaptaciones digitales y una rica historia de
                fondo
                que se explora en novelas y otros medios. Es un juego que combina creatividad, estrategia y habilidad,
                lo
                que lo convierte en una experiencia apasionante y desafiante para jugadores de todas las edades.</p>
        </div>
        <div class="img-info">
            <img src="assets/img/magic.jpg" alt="Magic: The Gathering">
        </div>
    </article>

</section>