@import url('../../../../styles.css');

.container{
    display: flex;
    background-color: #1b1b1b;
    width: 100%;
    height: 100vh;
    padding: 1%;
}

.cont-l{
    overflow: hidden;
    margin-right: 1%;
    margin-bottom: 2%;
    width: 50%;
    height: 100vh;
}

.cont-title{
    display: flex !important;   
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cont-txt{
    align-items: start;
    padding: 3%;
}

.title{
    margin: 0;
    padding: 3%;
    color: var(--acid-green);
    font-size: 2.5rem;
    font-family: 'beleren-bold';
    letter-spacing: 4px;
    text-align: start;
    -webkit-text-stroke: 1px black; /* Borde negro de 1px para navegadores webkit (Chrome, Safari) */
      text-stroke: 1px black; /* Borde negro de 1px */
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5), 0px 4px 6px rgba(255, 255, 255, 0.5);
    
}

.text{
    color: #fff;
    font-family: 'beleren-small-caps';
    font-size: 1.7rem;
    line-height: 1;

}

span{
    color: var(--acid-green);
    font-family: 'beleren-small-caps';
}

.cont-r{
    overflow: hidden;
    width: 50%;
    height: 100vh;
}