@import url('../../../../styles.css');

.secc-info-magic{
    width: 100%;
    background-color: var(--onHover-black-color);
}
.content-secc-info-magic{
    margin-right:1%;
}
.content-section{
    margin-left: 8% ;
    margin-right: 8% ;
    display: flex;
    padding: 3% 1%;
    background-color: var(--background-color);
    align-items: center;
}

.secc-title{
    display: flex;
    justify-content: center;
}

.title{
    font-family: 'beleren-small-caps';
    font-size: 3vw;
    color: var(--acid-green);
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1), 0 0.5rem 1rem rgba(76, 175, 80, 0.3);


}

.text{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 1px;
}

span{
    color: var(--acid-green);
}

.img-secc-info-magic{
    width: 50vw;
    background-position: center;
    background-size: cover;
    max-height: 400px ;
    box-shadow: 0 0 10px 5px rgba(82, 81, 81, 0.5);
}