<footer class="footer">
  <div class="container-footer">

    <div class="colum-section-container">
      
      <div class="colum-section-items">
          <h4 class="tittle-section-footer">Seguinos en redes</h4>
          <div class="icons-item">
            <a href="https://www.facebook.com/utnmardelplata" target="_blank">
              <img class="icon-links" src="assets/facebook-icon.png">
            </a>
            <a href="https://www.instagram.com/utnmardelplata/" target="_blank">
              <img class="icon-links" src="assets/instagram-icon.png">
            </a>
            <a href="https://www.linkedin.com/company/utnmardelplata/" 
            target="_blank">
              <img class="icon-links" src="assets/linkedin-icon.png">
            </a>
          </div>
      </div>

      <div class="colum-section-center">
        <h4 class="tittle-section-footer">© 2023 Equipo Dinamita Styles, all rights reserved</h4>
        <div class ="img-footer">
          <img class="footer-logo" alt="magic-logo" src="assets/logo-footer.png">
        </div>
      </div>

      <div class="colum-section-right">
        <h4 class="tittle-section-footer">Contacto</h4>
          <span class="items">Ubicacion: Av. Dorrego 281, Provincia de Buenos Aires</span>
        <span class="items">Correo electrónico: info@magicweb.com</span>
        <span class="items">Teléfono: (123) 456-7890</span>
      </div>

      
      

    </div>
  </div>
</footer>