<section class="how-to-play">
    <div class="overlay"></div>
    <article class="info-article">

        <div class="container">
            <img class="img-how-play" src="../../../../assets/about-magic/how-to-play/article-htp.jpg"
                alt="how to play photo">

            <div class="info">

                <div class="content-title">
                    <h3 class="title">¿Como Jugar?</h3>
                </div>

                <div class="content-txt">
                    <p class="text">
                        Estás a punto de descubrir por qué Magic tiene millones de jugadores
                        en todo el mundo: la profundidad de su estrategia, la
                        belleza de sus mundos, la fuerza de sus personajes y su
                        comunidad global.
                    </p>

                    <p class="text">
                        En nuestra pagina te brindamos el vinculo para que puedas acceder al manual de juego de Magic
                        The Gathering, en el cual encontraras toda la informacion necesaria para poder jugar.
                    </p>
                </div>

                <div class="cont-link">
                    <a class="link" href="https://magic.wizards.com/es/how-to-play" >Apender a jugar</a>
                </div>

            </div>

        </div>


    </article>
</section>