.content__info-user {

    position: relative;
    background-image: url('public/main/bg-list-card.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;



}

.hover__bg {
    position: relative;
    overflow-y: auto;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    padding-bottom: 2rem ;
    padding-top: 5rem ;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    background-color: rgba(0, 0, 0, 0.16);
  
  
  }