<app-header></app-header>
<div class="view-deck_container">
  <section class="deck-details_container">
    @if(deckDetails){

    <div class="image-deck_group">

        <img class="image_deck" [src]="deckDetails.imgDeck" [alt]="deckDetails.name">
        <div class="last-update_group">
          <small class="text-update">update: {{transformDate('update',fake)}}</small>
        </div>
        
      </div>
      <div class="detail-deck_group">
        <div class="title-deck_group">
          <h3 class="title-deck">{{deckDetails.name}}</h3>
        </div>
        <div class="descrip-deck_group">
          <h4 class="title-details">Descripcion</h4>
          <p class="descrip-deck">{{deckDetails.description}}</p>
        </div>
        <div class="color-deck_group">
          <h4 class="title-details">Colores</h4>
          <div class="color-deck_container">
            @if(deckDetails?.colors!.length > 0){
              @for (color of deckDetails.colors ; track $index) {
                <img class="color-deck" [src]="getDeckColorImg(color)" alt="color">
              }
            }
          </div>
        </div>
        
      </div>
      
      
    }
  </section>
  <section class="view_container">
    <div class="hover__bg" >
      @if(deckDetails.cards!.length > 0){

        @for (card of deckDetails.cards ; track $index) {
            
        }
      }@else {
        <app-empty 
        [title]="'No contiente Cartas'" 
        [message]="'asdasdasdasdasdasd'"> 
      </app-empty>
      }
    </div>
  </section>
</div>
<app-footer></app-footer>
